<!--// PlaceHolder for main merge issue.-->
<%- include("templates/header") %>

<link rel="stylesheet" type="text/css" href="/css/nav.css">
<!--<link rel="stylesheet" type="text/css" href="/css/main.css">-->
<link rel="stylesheet" type="text/css" href="/css/chatbot.css">
</head>
<body>
<%-include("templates/nav") %>
<div class="container chat-container">
    <h2 id="greet">Let's Talk About You!
    </h2>
    <div id="chat">
        <div id="chat-title">
            <h2>Chat!</h2>
            <img id="savedMSGHyper-Link" class="actionIcon" src="/img/savedMessages.svg">
        </div>
        <form id="chat-content" class="overflow-auto">
            <% for (let i = 0; i < Math.max(botTxtArray.length, userTxtArray.length); i++) { %>
                <% if (userTxtArray[i] != null && userTxtArray[i].length !== 0) { %>
                    <p class="text-break userMessage">
                        <%= userTxtArray[i][0] %>
                        <span><br>You <%= userTxtArray[i][1] %></span>
                    </p>
                <% } %>
                    <% if (botTxtArray[i] != null && userTxtArray[i].length !== 0) { %>
                        <p class="text-break botMessage" data-value = <%= i %>>
                            <% let rawTxt = botTxtArray[i][0].split("\n"); %>
                            <% for (let s = 0; s < rawTxt.length; s++) { %>
                                <%= rawTxt[s] %>
                                <% if (s !== (rawTxt.length - 1)) { %>
                                    <br>
                                <% } %>
                            <% } %>
                            <span id="display"><br>Bot  <%= botTxtArray[i][1] %>
                        <span id="extraAction" class="extraActions" hidden="">
                                <img id="save" class="actionIcon" src="/img/star-favorite.svg">
                            </span>
                        </span>
                        </p>
                    <% } %>
            <% } %>
        </form>
        <div id="chat-form">
            <form id="chat-form-input" method="post" action="/chatbot">
                <input type="text" id="usermsg" name="userTxt" placeholder="Start a conversation...">
                <button type="submit" id="send"><img src="/img/send.svg"></button>
            </form>
        </div>
    </div>
</div>
<script src="/js/nav.js"></script>
<script src="/js/main.js"></script>
<script src="/js/savePhrase.js"></script>
<%- include("templates/footer") %>

