<!--// PlaceHolder for main merge issue.-->
<%- include("templates/header") %>

<link rel="stylesheet" type="text/css" href="/css/nav.css">
<!--<link rel="stylesheet" type="text/css" href="/css/main.css">-->
<link rel="stylesheet" type="text/css" href="/css/chatbot.css">
</head>
<body>
<%-include("templates/nav") %>
<div class="container">
    <div id="chat">
        <div id="chat-title">
            <h2>Chat!</h2>
        </div>
        <form id="chat-content" class="overflow-auto">
            <% for (let i = 0; i < Math.max(botTxtArray.length, userTxtArray.length); i++) { %>
                <% if (userTxtArray[i] != null && userTxtArray[i].length !== 0) { %>
                    <p class="text-break userMessage">
                        <%= userTxtArray[i][0] %>
                        <span><br>You <%= userTxtArray[i][1] %></span>
                    </p>
                <% } %>
                <% if (botTxtArray[i] != null && userTxtArray[i].length !== 0) { %>
                    <p class="text-break botMessage">
                        <%= botTxtArray[i][0] %>
                        <span><br>Bot  <%= botTxtArray[i][1] %>
                        <span class="extraActions">
                                <img style="display:none" class="actionIcon" src="/img/star-favorite.svg">
                            </span>
                        </span>
                    </p>
                <% } %>
<!--                    <p class="text-break botMessage">-->
<!--                        Hey!Hey!Hey!Hey!Hey!Hey!Hey!Hey!Hey!Hey!Hey!-->
<!--                        <span><br>Time-->
<!--                            <span class="extraActions">-->
<!--                                <img style="display:none" class="actionIcon" src="/img/star-favorite.svg">-->
<!--                            </span>-->
<!--                        </span>-->
<!--                    </p>-->
            <% } %>
        </form>
        <div id="chat-form">
            <form id="chat-form-input" method="post" action="/chatbot">
                <input type="text" id="usermsg" name="userTxt" placeholder="Start a conversation...">
                <button type="submit" id="send"><img src="/img/send.svg"></button>
            </form>
        </div>
    </div>
</div>
<script src="/js/nav.js"></script>
<script src="/js/main.js"></script>
<script src="/js/savePhrase.js"></script>
<%- include("templates/footer") %>

