<!--// PlaceHolder for main merge issue.-->
<%- include("templates/header") %>
    <link rel="stylesheet" type="text/css" href="/css/nav.css">
    <link rel="stylesheet" type="text/css" href="/css/journal.css">

    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>

</head>
<body>
    <%- include("templates/nav") %>
    <!-- MoodUp Reference -->
    <img class="eg" onclick="window.location.href='https://moodup-e8744.web.app/'" src="/img/moodup_graffiti.svg">
    <div class="container">
        <h2>Entry History</h2>
        <ul id="entries">
            <!--PUT FOR LOOP HERE-->
            <% for (let i = 0; i < entries[1].length; i++) { %>
            <%
                let newDateString;
                const oneDay = 24 * 60 * 60 * 1000; // one day in milliseconds
                /* The Journal Entry's Date. */
                let dateParts;
                if (entries[1][i].includes("/")) {
                    const tempEntryDate = entries[1][i].split("/");
                    dateParts = [tempEntryDate[2], tempEntryDate[0] - 1, tempEntryDate[1]];
                } else
                    dateParts = entries[1][i].split('-');
                let date = new Date(parseInt(dateParts[0]), parseInt(dateParts[1]) /* Month values in Date objects are 0-based. (0-11) */,
                parseInt(dateParts[2]));
                date.setHours(0, 0, 0, 0);

                if (new Date(req.session.logDate).getTime() - date.getTime() === oneDay) {
                    newDateString = "Yesterday";
                }
                else if (new Date(req.session.logDate).getTime() - date.getTime() === 0) {
                    break; // This is likely to be a end point worse case
                }
                else {
                    const dateWordArray = date.toDateString().split(' ');
                    newDateString = `${dateWordArray[1]} ${dateWordArray[2]}, ${dateWordArray[3]}`; // Reconstruct the string without the day of the week
                }
            %>
                <%- include("templates/entries", {date: newDateString, text: entries[0][i]}) %>
            <% } %>

        </ul>
        <div id="pagination" class="text-center ">
                <%- include("templates/pagination", {currPage: currPage, numPages: numPages})%>
        </div>
        </div>
    <script src="/js/journal.js"></script>


    
<%- include("templates/footer") %>