<!--// PlaceHolder for main merge issue.-->
<%- include("templates/header") %>

<link rel="stylesheet" type="text/css" href="/css/nav.css">
<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
  <body>
    <%-include("templates/nav") %>
    <div class="container">
      <div id="greeting">
        <h2>Hello, <%= username %>!</h2>
      </div>
      <div id="chat">
        <div id="chat-title">
          <h2>Let's talk about you!</h2>
        </div>
        <form id="chat-content">
          <div id = "moodLogger">
            <p>How are you feeling?</p>
            <div id="moodButtons">
              <label for="happyButton">
                <input type="checkbox" id="happyButton" class="moodButton" value="happy">
                Happy
              </label>
              <br>
              <label for="sadButton">
                <input type="checkbox" id="sadButton" class="moodButton" value="sad">
                Sad
              </label>
              <br>
              <label for="angryButton">
                <input type="checkbox" id="angryButton" class="moodButton" value="angry">
                Angry
              </label>
              <br>
              <label for="anxiousButton">
                <input type="checkbox" id="anxiousButton" class="moodButton" value="anxious">
                Anxious
              </label>
              <br>
              <label for="tiredButton">
                <input type="checkbox" id="tiredButton" class="moodButton" value="tired">
                Tired
              </label>
            </div>
            <button id="submitMood">Submit</button>
          </div>
        </form>
      </div>
      <div id = "gratitude">
        <h3>Gratitude</h3>
        <button class="editButton">
          <p>Edit</p><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit"><path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"></path><path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"></path></svg>
      </button>
<!--        DESIGN HERE UWU -->
        <form id="journalForm" action="/gjournal" method="post">
        <textarea name="gjournalTxt" class="textbox"><%= text %>
        </textarea>
          <button class="saveButton" type="submit"><p>Save</p>
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check"><polyline points="20 6 9 17 4 12"></polyline></svg>
          </button>
        </form>
      </div>
    </div>
    <script src="/js/nav.js"></script>
    <script src="/js/main.js"></script>
<%- include("templates/footer") %>



