<% if (currPage > 1) {%>
    <form class="col-sm" method="get" action="/gjournal/1">
        <input type="submit" value="First">
    </form>
    <form class="col-sm" method="get" action="/gjournal/<%= currPage - 1 %>">
        <input type="submit" value="Prev">
    </form>
<% } %>

<%
    const numPageBtn = 5;
    let start = Math.max(1, currPage-Math.floor(numPageBtn/2));
    console.log(Math.floor(numPageBtn/2) + "serio?");
    let end = Math.min(numPages, currPage+Math.floor(numPageBtn/2));
%>

<% for (let i = start; i <= end; i++) { %>
    <form class="col-sm" method="get" action="/gjournal/<%= i %>">
        <input type="submit" value="<%= i %>">
    </form>
<% } %>
<% if (currPage < numPages) { %>
    <form class="col-sm" method="get" action="/gjournal/<%= parseInt(currPage) + 1 %>">
        <input type="submit" value="Next">
    </form>
    <form class="col-sm" method="get" action="/gjournal/<%= numPages %>">
        <input type="submit" value="Last">
    </form>
<% } %>