
<% if (currPage > 1) {%>
<!--    <form class="col-sm" method="get" action="/gjournal/1">-->
        <input class="col-sm jpag" type="submit" value="First" moveTo="1">
<!--    </form>-->
<!--    <form class="col-sm" method="get" action="/gjournal/<%= currPage - 1 %>">-->
        <input class="col-sm jpag" type="submit" value="Prev" moveTo="<%= currPage - 1 %>">
<!--    </form>-->
<% } %>

<%
    const numPageBtn = 2;
    let start = Math.max(1, currPage-Math.floor(numPageBtn/2));
    let end = Math.min(numPages, currPage+Math.floor(numPageBtn/2));
%>

<% for (let i = start; i <= end; i++) { %>
<!--    <form class="col" method="get" action="/gjournal/<%= i %>">-->
        <input class="col-sm jpag" type="submit" value="<%= i %>" moveTo="<%= i %>">
<!--    </form>-->
<% } %>
<% if (currPage < numPages) { %>
<!--    <form class="col" method="get" action="/gjournal/<%= parseInt(currPage) + 1 %>">-->
        <input class="col-sm jpag" type="submit" value="Next" moveTo="<%= parseInt(currPage) + 1 %>">
<!--    </form>-->
<!--    <form class="col" method="get" action="/gjournal/<%= numPages %>">-->
        <input class="col-sm jpag" type="submit" value="Last" moveTo="<%= numPages %>">
<!--    </form>-->
<% } %>

<script>
    const paginationButtons = document.querySelectorAll(".jpag");
    let route = "";
    // console.log();
    if (window.location.href.split("/").includes("gjournal"))
        route = "/gjournal/";
    else
        route = "/chatbot/"
        paginationButtons.forEach(function (e) {
            console.log(e.getAttribute("moveTo"));
            e.addEventListener("click", function() {
                window.location.href='/gjournal/' + e.getAttribute("moveTo");
            });
        });
</script>